*{
    margin: 1%;
}

.inicio .imagenes{
    background: cyan;
    margin-left:5%;
    display: inline-block;
    text-align: center;
    width: 1140px;
    max-height: 200px;
}
.inicio .imagenes .img1{
    width: 120px;
    height: 180px;
    float: left;
}
.inicio .imagenes .img2{
    width: 280px;
    height: 180px;
    float: left;
}
.inicio .imagenes .img3{
    width: 250px;
    height: 180px;
    float: left;
}
.inicio .imagenes .img4{
    width: 250px;
    height: 180px;
    float: left;
}
.inicio .imagenes .img5{
    width: 120px;
    height: 180px;
    float: left;
}
.navegacion{
    background: rgba(133, 69, 235, 0.308) ;
    width: 18%;
    height: 500px;
    float: left;
    border: black solid;
    border-radius: 8px;
}


.seccion{
    margin-left: 0%;
    border: 4px black groove;
    width: 59%;
    float: left;
}

.aside{
    background:rgba(39, 35, 30, 0.199);
    margin-left: 0%;
    display: inline-block;
    text-align: center;
    width: 210px;
    max-height: 504px;
    border:black solid;
    border-radius: 8px;
}

.aside .gif0{
    width: 205px;
    float: left;
    
}

.aside .gif1{
    width: 205px;
    float: left;
}

.datos{
 clear: both;
 text-align: center;
 border: 1px black solid;
}
